xml-resources/web-service-references/employeeservice/wsdl/localhost_3000/any/name/you/like/employeeservice.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://services.beans/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.beans/">

<xs:element name="getEmployeeById" type="tns:getEmployeeById"></xs:element>

<xs:element name="getEmployeeByIdResponse" type="tns:getEmployeeByIdResponse"></xs:element>

<xs:complexType name="getEmployeeById">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEmployeeByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:employee" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="employee">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nom" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="poste" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>